<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( '../../layout/head.ejs' ) %>
  </head>
<body>
  <header>
    <h1>Best Books!</h1>
    <%- include( '../../layout/header.ejs' ) %>
  </header>
  <div id="subtitle">
    <h3>Find Your Favorite Books</h3>
  </div>
  <!-- Action is the url we want to go visit -->
  <form action="/searches" method="POST">
    <fieldset>
      <legend>Search by Title or Author</legend>
      Search <input name="input" type="text">
      Title<input type="radio" value="title" name="type">
      Author<input type="radio" value="author" name="type">
      <input type="submit">
    </fieldset>
  </form>
  <footer>
    <%- include( '../../layout/footer.ejs' ) %>
  </footer>
</body>
</html>