<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <% finalBooksArray.forEach(book => { %>
    <h2><%= book.title %></h2>
    <img src=<%= book.image %> >
    <p><%= book.description %></p>
  <% }) %>
  <!-- class="center" -->
  <!-- Action is the url we want to go visit -->
  <!-- <form action="/search" method="POST">
    <fieldset>
      <legend>Search by Title or Author</legend>
      Search<input name="Title or Author" type="text">
      Title<input type="radio" value="title" name="This">
      Author<input type="radio" value="author" name="This">
      <input type="submit">
    </fieldset>
  </form> -->

  <!-- <form action="/add-ice-cream-flavor" method="POST">
    <input type="text" name="flavor">
    <input type="submit">
  </form> -->
  <footer></footer>
</body>
</html>